
.left-col {
    float: left;
    width: 400px;
    margin-left: 50px;    
    margin-top: 50px;    
}

.map-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.map-info label {
    display: inline-block;
    width: 100px;
}

.map-div {
    display: inline-block;
    margin-top: 50px;
}

.tab-pane div {
	margin-top: 5px;
}

.tab-pane div button{
	width: 45%;
	height: 50px;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.tab-pane div button:hover {
	background-color: grey;
}

.tab-pane div.zoom-options button {
	width: 30%;
}

.show-grid-check {
	width: 90%;
	height: 50px;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 10px;
}