
.tab-content {
	display: inline-block;
	margin-top: -3px;
	border: 1px solid #dddddd;
	padding: 5px;
}

.nav-tabs {
	display: inline-block;
	border-bottom: none;
}

.left-col {
  float: left;
  width: 400px;
  margin-left: 0px;  
  margin-top: 30px;
}

.map-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-form {
	padding-right: 30px;
}

.title-div {
	display: inline-block;
	margin-right: 20px;
	width: 350px;
}

.map-div {
  display: inline-block;
  margin-top: 30px;
  float: right;
}

.tab-pane div {
	margin-top: 5px;
}

.options {
	width: 49%;
}

.reset {
	width: 99%;
}

.clicks-table {
	display: inline-block;
}

.click-labels th {
	text-align: center;
}

#left-click, #right-click {
	margin-left: 20px;
	margin-right: 20px;
}

.fill {
	text-align: center;
}

.clear-layer {
	text-align: center;
	width: 100%;
}

.checks {
	display: inline-block;
	margin-left: 30px;
}

.player {
	display: inline-block;
	margin-left: 30px;
}

.editor-button {
  padding-left: 5px;
  padding-right: 0px;
}

.map-title {
  padding: 8px 5%;
  width: 280px;
}

.editor-nav {
  margin: 8px 3px;
}