
.left-col {
    float: left;
    width: 350px;
    margin: 50px;    
}

.map-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.map-info label {
    display: inline-block;
    width: 100px;
}

.map-div {
    display: inline-block;
    margin-top: 50px;
}